// Header
header {
    background: rgba(255, 255, 255, 0.9) ;
    border-bottom: solid 3px $negro;
    z-index: 30;
    position: fixed;
    width: 100%;
    
    // Menu
    ul.menu {
        padding-top: 40px;
        padding-left:0px;
        padding-bottom:0px;
        
        li {
            a {
                font-size: 14px;
                color: $gris02;
           
                @media screen and (max-width: 39.9375em) {
                    font-size: 11px;
                }
                
                &:hover {
                    color: $gris01;
                    -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }    
    }
}